@use '../abstracts' as *;

footer {
    margin-top: 60px;
    padding: 20px 0;
    border-top: 1px solid #333;
    text-align: center;

    p {
        color: #666;
        font-size: 0.85rem;
    }

    a {
        color: $sw-yellow;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
